@model IEnumerable<Mvc.Models.mvcEmployeeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("AddOrEdit", "Employee")" class="btn btn-default"><i class="fa fa-plus"></i>Create new</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDCard)
            </th>
            <th>Action</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDCard)
        </td>
        <td>
            <a href="@Url.Action("AddOrEdit","Employee",new { id = item.Employee_id })" class="btn btn-default"><i class="fa fa-pencil"> </i>Edit</a>
            
            <a onclick="Delete(@item.Employee_id)"class="btn btn-default"><i class="fa fa-trash"> </i>Delete</a>
        </td>
    </tr>
}

</table>
@section scripts{
    <script>
        $(function () {
            var SuccessMessage = '@TempData["SuccessMessage"]'
            if (SuccessMessage != '') 
                alertify.success();
                
        });
        function Delete(id) {
            alertify.confirm('Car4Rent Managemnent', 'Are you sure to delete this record?', function () {
                window/location.href = '@Url.Action("Delete","Employee")/' + id;
            }, null);
        }

    </script>
    }
